:root {
  --dark-green: #3e5a4d;
  --light-green: #7fb992;
  --gray: #d9d9d9;
  --dark-gray: #333333;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  scroll-behavior: smooth;
}

header .navbar {
  width: 100%;
  height: 119px;
  position: relative;
  background-color: white;
  border-bottom: solid 1px var(--gray);
}

header .navbar .nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1360px;
  margin-inline: auto;
  height: 100%;
}

header .navbar .nav-logo img {
  width: 125px;
}

header .navbar .nav-link {
  display: flex;
  align-items: center;
  gap: 12px;
}

header .navbar .nav-link li {
  list-style: none;
}

header .navbar .nav-link li a {
  text-decoration: none;
  color: var(--dark-green);
  font-size: 26px;
  font-weight: 600;
  transition: all 0.1s ease-in-out;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
}

header .navbar .nav-link li a:hover {
  background-color: #7fb992;
}

main #content {
  max-width: 1360px;
  margin-inline: auto;
  margin-top: 72px;
  margin-bottom: 136px;
}

main #content .section-title {
  color: var(--dark-green);
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 12px;
}

main #content .news-list {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
  scroll-margin-top: 120px;
  width: 100%;
  margin-top: 28px;
}

main #content .card {
  position: relative;
  display: flex;
  align-items: center;
  width: 600px;
  height: 270px;
  border-radius: 0.75rem;
  -webkit-border-radius: 0.75rem;
  -moz-border-radius: 0.75rem;
  -ms-border-radius: 0.75rem;
  -o-border-radius: 0.75rem;
}

main #content .card .card-image {
  object-fit: cover;
  object-position: center;
  width: 40%;
  height: 16rem;
  border-radius: 0.75rem;
  margin-right: 2rem;
  -webkit-border-radius: 0.75rem;
  -moz-border-radius: 0.75rem;
  -ms-border-radius: 0.75rem;
  -o-border-radius: 0.75rem;
}

main #content .card .card-info {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

main #content .card .card-info .card-title {
  margin-top: 1rem;
  font-size: 1.7rem;
  line-height: 2rem;
  font-weight: 600;
  color: var(--dark-green);
  text-decoration: none;
  margin-bottom: 1rem;
  transition: opacity 0.1s ease-in-out;
  -webkit-transition: opacity 0.1s ease-in-out;
  -moz-transition: opacity 0.1s ease-in-out;
  -ms-transition: opacity 0.1s ease-in-out;
  -o-transition: opacity 0.1s ease-in-out;
}

main #content .card .card-info .card-title:hover {
  opacity: 0.8;
}

main #content .card .card-info .card-date {
  font-size: 16px;
  line-height: 20px;
  color: var(--dark-gray);
}

.badges {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.badges .category-badge {
  background-color: var(--light-green);
  color: white;
  font-size: 1rem;
  line-height: 1.25rem;
  font-weight: 600;
  padding: 6px 18px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

/* Halaman Detail */

main #content .news-detail {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

main #content .news-detail-image {
  width: 100%;
  height: 600px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 12px;
  margin-bottom: 24px;
  margin-top: 12px;
}

main #content .news-detail-title {
  color: var(--dark-green);
  font-size: 42px;
  text-align: center;
  font-weight: 700;
  margin-bottom: 12px;
}

main #content .news-detail-meta {
  text-align: center;
  font-size: 18px;
  font-weight: 600;
}

main #content .category {
  color: var(--light-green);
}

main #content .news-detail-date {
  text-align: center;
  font-size: 16px;
  color: var(--dark-gray);
}

main #content .news-detail-content {
  font-size: 18px;
  line-height: 1.5;
  color: var(--dark-gray);
  text-align: justify;
  margin-bottom: 24px;
}

footer {
  width: 100%;
  background: var(--dark-green);
  color: var(--light-green);
  font-size: 18px;
  text-align: center;
  padding-block: 12px;
}
